In [1]:
import pandas as pd

In [13]:
df = pd.read_csv('Dataset/ecommerce_data.csv')
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,"536,365.00",85123A,WHITE HANGING HEART T-LIGHT HOLDER,6.00,12/1/2010 8:26,2.55,"17,850.00",United Kingdom
1,"536,365.00","71,053.00",WHITE METAL LANTERN,6.00,12/1/2010 8:26,3.39,"17,850.00",United Kingdom
2,"536,365.00",84406B,CREAM CUPID HEARTS COAT HANGER,8.00,12/1/2010 8:26,2.75,"17,850.00",United Kingdom
3,"536,365.00",84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6.00,12/1/2010 8:26,3.39,"17,850.00",United Kingdom
4,"536,365.00",84029E,RED WOOLLY HOTTIE WHITE HEART.,6.00,12/1/2010 8:26,3.39,"17,850.00",United Kingdom

In [17]:
df.isna().sum()

 InvoiceNo            0
 StockCode            0
 Description       1454
 Quantity             0
 InvoiceDate          0
 UnitPrice            0
 CustomerID      135080
 Country              0
dtype: int64

In [22]:
df.isna().sum()

 InvoiceNo            0
 StockCode            0
 Description       1454
 Quantity             0
 InvoiceDate          0
 UnitPrice            0
 CustomerID      135080
 Country              0
dtype: int64

In [26]:
df.describe().T

                count unique                                   top    freq
 InvoiceNo     541909  25900                           573,585.00     1114
 StockCode     541909   4070                               85123A     2313
 Description   540455   4223   WHITE HANGING HEART T-LIGHT HOLDER     2369
 Quantity      541909    722                                 1.00   148227
 InvoiceDate   541909  23260                      10/31/2011 14:41    1114
 UnitPrice     541909   1630                                 1.25    50496
 CustomerID    406829   4372                            17,841.00     7983
 Country       541909     38                       United Kingdom   495478

In [25]:
df.describe(include=['O']).T

                count unique                                   top    freq
 InvoiceNo     541909  25900                           573,585.00     1114
 StockCode     541909   4070                               85123A     2313
 Description   540455   4223   WHITE HANGING HEART T-LIGHT HOLDER     2369
 Quantity      541909    722                                 1.00   148227
 InvoiceDate   541909  23260                      10/31/2011 14:41    1114
 UnitPrice     541909   1630                                 1.25    50496
 CustomerID    406829   4372                            17,841.00     7983
 Country       541909     38                       United Kingdom   495478